{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"]
}
